#####################################################################
#   Macros
#####################################################################

[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - PLEASE CUSTOMISE THE SCRIPT
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(110)|int %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(240)|float %}
    {% set SOAK_TIME = params.SOAK_TIME|default(20)|int %}
    {% set BED_MESH = params.BED_MESH|default(1)|int %}
    {% set MIN_CHAMBER_TEMP = params.MIN_CHAMBER_TEMP|default(0)|float %}

    M104 S155
    M190 S{BED_TEMP}
    M117 Leveling

    G28

    G0 X150 Y5 Z60    ;Give the peasant time to manually clean nozzle
    G4 P60000         ;Wait 60 seconds

       {% if SOAK_TIME > 0 or MIN_CHAMBER_TEMP > 0 %}
        G0 Y150 Z30
        {% if SOAK_TIME > 0 %}
            LOG_INFO message="Pre-soak parameter set, pre-soaking for {SOAK_TIME} minute(s)."
            PRE_SOAK SOAK_TIME={SOAK_TIME}
        {% endif %}
        {% if MIN_CHAMBER_TEMP > 0 %}
            LOG_INFO message="Minimum chamber temp. parameter set, waiting for {MIN_CHAMBER_TEMP}C"
            TEMPERATURE_WAIT SENSOR='temperature_sensor chamber_temp' MINIMUM={MIN_CHAMBER_TEMP}
        {% endif %}
    {% endif %}

    Z_TILT_ADJUST
    CALIBRATE_Z

    {% if BED_MESH|int == 1 %}
        LOG_INFO message="Loading or creating bed mesh for: {BED_TEMP}C"
        {% if SOAK_TIME > 19 %}
            BED_MESH_LOAD_TEMP TEMP={BED_TEMP}
        {% else %}
            BED_MESH_LOAD_TEMP TEMP={BED_TEMP} WAIT_TIME=20
        {% endif %}
    {% else %}
        BED_MESH_CLEAR
    {% endif %}

    
    #BED_MESH_CALIBRATE
     
    G92 E0;    
    G90   
    G0 X5 Y5 F6000    
    M109 S{EXTRUDER_TEMP}
  
    G0 Z0.4
    G91
    G1 X120 E30 F1200;
    G1 Y1
    G1 X-120 E30 F1200;
    G1 E-1 F2100; Retract Before Printing
    G92 E0;
    G1 F9000
    M117 Printing.. 

[gcode_macro PRINT_START_MMU]
#   Use PRINT_START for the slicer starting script - PLEASE CUSTOMISE THE SCRIPT
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(110)|int %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(240)|float %}
    {% set SOAK_TIME = params.SOAK_TIME|default(20)|int %}
    {% set BED_MESH = params.BED_MESH|default(1)|int %}
    {% set MIN_CHAMBER_TEMP = params.MIN_CHAMBER_TEMP|default(0)|float %}

    M104 S155
    M190 S{BED_TEMP}
    M117 Leveling

    G28

    G0 X150 Y5 Z60    ;Give the peasant time to manually clean nozzle
    G4 P60000         ;Wait 60 seconds

       {% if SOAK_TIME > 0 or MIN_CHAMBER_TEMP > 0 %}
        G0 Y150 Z30
        {% if SOAK_TIME > 0 %}
            LOG_INFO message="Pre-soak parameter set, pre-soaking for {SOAK_TIME} minute(s)."
            PRE_SOAK SOAK_TIME={SOAK_TIME}
        {% endif %}
        {% if MIN_CHAMBER_TEMP > 0 %}
            LOG_INFO message="Minimum chamber temp. parameter set, waiting for {MIN_CHAMBER_TEMP}C"
            TEMPERATURE_WAIT SENSOR='temperature_sensor chamber_temp' MINIMUM={MIN_CHAMBER_TEMP}
        {% endif %}
    {% endif %}

    Z_TILT_ADJUST
    CALIBRATE_Z

    {% if BED_MESH|int == 1 %}
        LOG_INFO message="Loading or creating bed mesh for: {BED_TEMP}C"
        {% if SOAK_TIME > 19 %}
            BED_MESH_LOAD_TEMP TEMP={BED_TEMP}
        {% else %}
            BED_MESH_LOAD_TEMP TEMP={BED_TEMP} WAIT_TIME=20
        {% endif %}
    {% else %}
        BED_MESH_CLEAR
    {% endif %}

[gcode_macro M600]
gcode:
    {% set X = params.X|default(150)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro Filament_Unload] 
gcode:
    G91z
    G1 E-50 F1000
    G90

[gcode_macro Filament_Load] 
gcode:
    G91
    G1 E50 F1000
    G90


[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

[gcode_macro nozzle_scrub]
gcode:
    G1 X95 Y308 F9000
    G1 Z4
    G1 X60 Y308 F9000
    G1 X95 Y308 F9000
    G1 X60 Y308 F9000
    G1 X95 Y308 F9000
    G1 X60 Y308 F9000
    G1 X95 Y308 F9000
    G1 X60 Y308 F9000
    G1 X95 Y308 F9000
    
    G1 Z10

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script
gcode:
    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    
    #   Check end position to determine safe directions to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}
    
    #  Commence PRINT_END
    M400                             ; wait for buffer to clear
    G92 E0                           ; zero the extruder
    G1 E-4.0 F3600                   ; retract
    G91                              ; relative positioning
    G0 Z{z_safe} F3600               ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000    ; move nozzle to remove stringing
    
    M104 S0                          ; turn off hotend
    M140 S0                          ; turn off bed
    M106 S0                          ; turn off fan
    G90                              ; absolute positioning
    G0 X{max_x / 2} Y{max_y} F3600   ; park nozzle at rear
    FILTER_PAST_PRINT_END
    M117 Finished!

[z_tilt]
##	Use Z_TILT_ADJUST to level the bed left to right.
##	z_positions: Location of toolhead

##--------------------------------------------------------------------
## Uncomment below for 250mm build
#z_positions:
	#-35, 180
	#290, 180
#points:
	#30, 155
	#220, 155

## Uncomment below for 300mm build
z_positions:
	-35, 205
	340, 205
points:
	30, 180
	270, 180
##--------------------------------------------------------------------

speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075

[screws_tilt_adjust]
## To run this command, use SCREWS_TILT_CALCULATE
##--------------------------------------------------------------------
##	Uncomment below for 250x250
#screw1: 40,180
#screw1_name: rear left screw
#screw2: 210,180
#screw2_name: rear right screw
#screw3: 125,10
#screw3_name: front screw
#horizontal_move_z: 5
#speed: 200
#screw_thread: CCW-M3

##	Uncomment below for 300x300
screw1: 40,230
screw1_name: rear left screw
screw2: 260,230
screw2_name: rear right screw
screw3: 150,10
screw3_name: front screw
horizontal_move_z: 10
speed: 200
screw_thread: CCW-M3
##--------------------------------------------------------------------

[bed_mesh]
speed: 300
horizontal_move_z: 10
##--------------------------------------------------------------------
##	Uncomment below for 250mm build
#mesh_min: 40, 40
#mesh_max: 210,210

##	Uncomment for 300mm build
mesh_min: 40, 40
mesh_max: 260,260
##--------------------------------------------------------------------
fade_start: 0.6
fade_end: 10.0
probe_count: 7,7
algorithm: bicubic
relative_reference_index: 24

[gcode_macro CALIBRATE_Z]
rename_existing: BASE_CALIBRATE_Z
gcode:
    G28
    M117 Z-Calibration.
    _SET_LOWER_STEPPER_CURRENT  # I lower the stepper current for homing and probing 
    Attach_Probe        # a macro for fetching the probe first
    BASE_CALIBRATE_Z
    _RESET_STEPPER_CURRENT      # resetting the stepper current
    G0 Z10 F6000        ;Move up to avoid trigger
    Dock_Probe           # and parking it afterwards
    M117 Z-Calibration Complete.

[gcode_macro PRE_SOAK]
gcode:
    {% set SOAK_TIME = params.SOAK_TIME|default(20)|int %}
    M117 Starting Soak
    M106 S255 #Turn on PF to help warm up chamber
    G0 X150 Y150 Z10 F6000
    {% for timer in range( SOAK_TIME|int,0,-1) %}
        #we cycle once a minute, so we can send an update to keep octoprint happy, rather than just sleeping for the entire soak
        M117 Soak: {timer|int}m remaining
        M105
        G4 P60000
    {% endfor %}
   M107
   M117 Soak Complete      

[gcode_macro BED_MESH_TEMP]
default_parameter_TEMP: 0
default_parameter_FORCE: 0
default_parameter_WAIT_TIME: 0
gcode:
    {% if TEMP|int < 30 %}
        {action_respond_info("TEMP is a required parameter!")}
    {% else %}
        {% if printer.configfile.config["bed_mesh temp_" + TEMP] is not defined or FORCE|int == 1 %}
            LOG_INFO message="No bed mesh found for temp: {TEMP}C generating one now."
            LOG_INFO message="Being forced? {FORCE}"
            M190 S{TEMP}           ; wait for bed temp
            ; Run QGL/home at new temp, both to validate we're still leveled at the new
            ; temp, but also to give the temp a bit to soak.
            {% for timer in range( WAIT_TIME|int,0,-1) %}
                M117 Soak: {timer|int}m remaining
                M105
                G4 P60000
            {% endfor %}
            G32
            BED_MESH_CLEAR
            Attach_Probe
            BED_MESH_CALIBRATE
            Dock_Probe 
            BED_MESH_PROFILE SAVE=temp_{TEMP}
            SAVE_CONFIG
        {% endif %}
    {% endif %}

[gcode_macro BED_MESH_LOAD_TEMP]
default_parameter_TEMP: 0
default_parameter_FORCE: 0
default_parameter_WAIT_TIME: 0
gcode:
    BED_MESH_TEMP TEMP={TEMP} FORCE={FORCE} WAIT_TIME={WAIT_TIME}
    BED_MESH_PROFILE LOAD=temp_{TEMP}

[gcode_macro LOG_INFO]
default_parameter_message:
gcode:
  {action_respond_info(params.MESSAGE)}

[gcode_macro _SET_LOWER_STEPPER_CURRENT]
gcode:
    SET_TMC_CURRENT STEPPER=stepper_z CURRENT=0.5
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT=0.5

[gcode_macro _RESET_STEPPER_CURRENT]
gcode:
    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={ printer.configfile.config["tmc2209 stepper_z"]["run_current"]} HOLDCURRENT={ printer.configfile.config["tmc2209 stepper_z"]["hold_current"]}
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={ printer.configfile.config["tmc2209 stepper_z1"]["run_current"]} HOLDCURRENT={ printer.configfile.config["tmc2209 stepper_z"]["hold_current"]}

[gcode_macro FILTER_PAST_PRINT_END]
gcode:
    G4 S600
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0
    LOG_INFO message="Filter fan now off"
	
[gcode_shell_command backup_cfg]
command: sh /home/pi/autocommit.sh
timeout: 30.
verbose: True

[gcode_macro BACKUP_CFG]
gcode:
    RUN_SHELL_COMMAND CMD=backup_cfg

[gcode_macro PALETTE_START]
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=215
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=110
    G1 z25 F600
    G1 X150 F7800
    G1 Y10 F7800

[gcode_macro FRONT_CENTER]
gcode:
    G1 z25 F600
    G1 X150 F7800
    G1 Y10 F7800


